{{- define "title" }}
    {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}

    <div class="page archive">
        {{- /* Title */ -}}
        <h2 class="single-title animate__animated animate__pulse animate__faster">
            {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" -}}
        </h2>

        {{- partial "heatmap.html" . -}}

        {{- /* Paginate */ -}}
        {{- if .Pages -}}
            {{- $pages := .Pages.GroupByDate "2006" -}}
            {{- with .Site.Params.section.paginate | default .Site.Params.paginate -}}
                {{- $pages = $.Paginate $pages . -}}
            {{- else -}}
                {{- $pages = .Paginate $pages -}}
            {{- end -}}
            {{- range $pages.PageGroups -}}
                <h3 class="group-title">{{ .Key }}</h3>
                {{- range .Pages -}}
                    <article class="archive-item">
                        <!-- 将标题和标签包裹在一个 div 中，以解决 flex 布局问题 -->
                        <div>
                            <a href="{{ .RelPermalink }}" class="archive-item-link">
                                {{- .Title -}}
                            </a>
                            {{- /* 显示文章标签 */ -}}
                            {{- with .Params.tags -}}
                                <span class="archive-item-tags">
                                {{- range . -}}
                                    <a href="{{ (printf "tags/%s" (. | urlize)) | relLangURL }}" style="text-decoration: none; color: inherit;">#{{ . }}</a>&nbsp;
                                {{- end -}}
                                </span>
                            {{- end -}}
                        </div>
                        <span class="archive-item-date">
                            {{- .Date.Format "1月02日" -}}
                        </span>
                    </article>
                {{- end -}}
            {{- end -}}
            {{- partial "paginator.html" . -}}
        {{- end -}}
    </div>
{{- end -}}
