{{ define "content" -}}
{{ $cdn_url := .Scratch.Get "cdn_url" }}
<article class="post-warp" itemscope itemtype="http://schema.org/Article">
    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ .Title }}</h1>
        <div class="post-meta">
        <!--  <i class="fa fa-user"></i>&nbsp;<a itemprop="name" href="{{.Site.BaseURL }}" rel="author">{{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }}</a>  -->
                      {{ with .Params.categories -}}
                <!-- <i class="iconfont icon-folder"></i> -->
          <i class="far fa-folder-open"></i>
                <span class="post-category">
                        {{ range . }}
                        {{- $name := . -}}
                        {{- with $.Site.GetPage "taxonomy" (printf "categories/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "categories/%s" ($name | urlize))) -}}
                          <a href="{{ .Permalink }}"> {{ $name }} </a>
                        {{ end -}}
                        {{ end }}
                </span>
            {{- end }}
          <span class="post-time">
         <i class="far fa-calendar-alt"></i>  <time datetime={{.Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }} itemprop="datePublished">{{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}</time>
           </span>
     
         <i class="far fa-file-word"></i> <span class="post-word-count"> {{ .WordCount }} 字</span>
         <i class="far fa-clock"></i> <span class="more-meta"> {{ .ReadingTime }} 分钟</span>
          <!--      Written by <a itemprop="name" href="{{.Site.BaseURL }}" rel="author">{{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }}</a> with ♥ 
                <span class="post-time">
                on <time datetime={{.Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }} itemprop="datePublished">{{ .Date.Format (.Site.Params.dateFormatToUse | default "January 2, 2006") }}</time>
                </span>
                in
                {{ with .Params.categories -}}
                <i class="iconfont icon-folder"></i>
                <span class="post-category">
                        {{ range . }}
                        {{- $name := . -}}
                        {{- with $.Site.GetPage "taxonomy" (printf "categories/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "categories/%s" ($name | urlize))) -}}
                          <a href="{{ .Permalink }}"> {{ $name }} </a>
                        {{ end -}}
                        {{ end }}
                </span>
                {{- end }} -->
        </div>
    </header>
    {{ if ( .Site.Params.toc | default true ) }}
      {{ partial "toc.html" . }}
    {{ end }}
    <div class="post-content">
        <!--featured_image-->

        {{ $images := findRE "<img src=\"[^\"|\\\"]*\"" .Content -}}
        {{ if ge (len $images) 1}}
            {{ $.Scratch.Set "postHasImages" true }}
        {{ end }}

        {{ with .Params.featured_image }}
          {{- $img := . -}}
          <img src="{{ printf "%s%s" $cdn_url $img }}" class="featured_image">
        {{ end }}
        <!-- end featured_image-->
     
          {{ $reAltIn := "<img src=\"([^\"]+)\" alt=\"([^\"]+)?\" />" }}
          {{ $reAltOut :=  ( printf "<figure><img src=\"/images/ring.svg\" data-sizes=\"auto\" data-src=\"%s$1\" alt=\"$2\" class=\"lazyload\"><figcaption class=\"image-caption\">$2</figcaption></figure>" $cdn_url ) }}
          {{ $altContent := .Content | replaceRE $reAltIn $reAltOut | safeHTML }}

          {{ $reAltTitleIn := "<img src=\"([^\"]+)\" alt=\"([^\"]+)?\" title=\"([^\"]+)?\" />" }}
          {{ $reAltTitleOut := ( printf "<figure><img src=\"/images/ring.svg\" data-src=\"%s$1\" data-sizes=\"auto\" alt=\"$2\" title=\"$3\" class=\"lazyload\"><figcaption class=\"image-caption\">$2</figcaption></figure>" $cdn_url ) }}
          {{ $finalContent := $altContent | replaceRE $reAltTitleIn $reAltTitleOut | safeHTML }}

          {{ $finalContent }}
    </div>

    <div class="post-copyright">
            <p class="copyright-item">
              <span><i class="fa fa-user"></i></span>
                <!-- <span>Author:</span> -->
             <span> <a itemprop="name" href="{{.Site.BaseURL }}" rel="author">{{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }}</a> </span>
                </p>

            {{ with .Permalink }} 
            <p class="copyright-item">
              <span><i class="fa fa-link"></i></span>
                   <!-- <span>Link:</span> -->
                    <span><a href={{ . }}>{{ . }}</span>
            </p>
            {{ end }}
              
      
            {{ with .Site.Params.license }} 
            <p class="copyright-item lincese">
              <span><i class="fa fa-copyright"></i></span>
                {{ . | safeHTML}}
            </p>
            {{ end }}
      
        
<!--            
    <style>
.example_responsive_1 { width: 320px; height: 100px; }
@media(min-width: 500px) { .example_responsive_1 { width: 468px; height: 60px; } }
@media(min-width: 800px) { .example_responsive_1 { width: 728px; height: 90px; } }
</style>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
-->
<!-- example_responsive_1 -->
                  <!--   
<ins class="adsbygoogle example_responsive_1"
     style="display:inline-block"
     data-ad-client="ca-pub-XXXXXXX11XXX9"
     data-ad-slot="8XXXXX1"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>         -->
  <!--         <p class="copyright-item">
            <span>  <i class="fa fa-ad"> </i></span> 
               <span>Ads by Google.</span> 
 
<style>
.adsbygoogle-copyright { width: 90%; height: 28px; }
@media(min-width: 500px) { .adsbygoogle-copyright { width: 90%; height: 28px; } }
@media(min-width: 800px) { .adsbygoogle-copyright { width: 90%; height: 28px; } }
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->

<!-- Wyane's Blog 版权处文字广告 -->
<!-- 
<ins class="adsbygoogle adsbygoogle-copyright"
     style="display:block"
     data-ad-client="ca-pub-4547757701057415"
     data-ad-slot="4267840549"
     data-ad-format="link"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
 </p>-->

    </div>
      
      
<!--     <div class="post-copyright">
            {{ with .Site.Params.author }} 
            <p class="copyright-item">
                <span>Author:</span>
                <span>{{ . }} </span>
                </p>
            {{ end }}
           
            {{ with .Permalink }} 
            <p class="copyright-item">
                    <span>Link:</span>
                    <a href={{ . }}>{{ . }}</span>
            </p>
            {{ end }}
            {{ with .Site.Params.license }} 
            <p class="copyright-item lincese">
                {{ . | safeHTML}}
            </p>
            {{ end }}
    </div>      
 -->
  
    <div class="post-tags">
        {{ with .Params.tags }}
            <section>
            <i class="iconfont icon-tag"></i>Tag(s): 
            {{ range . }}
            <span class="tag"><a href="{{ "tags/" | absURL }}{{ . | urlize }}/">
                    #{{.}}</a></span>
            {{ end }}
            </section>
        {{ end }}
        <section>
                <span><a href="javascript:window.history.back();">back</a></span> · 
                <span><a href="{{ .Site.BaseURL }}">home</a></span>
        </section>
    </div>

    <div class="post-nav">
        {{ if .PrevInSection }}
        <a href="{{.PrevInSection.Permalink}}" class="prev" rel="prev" title="{{ .PrevInSection.Title}}"><i class="iconfont icon-left"></i>&nbsp;{{ .PrevInSection.Title}}</a>
        {{ end }} 
        {{ if .NextInSection }}
        <a href="{{.NextInSection.Permalink}}" class="next" rel="next" title="{{.NextInSection.Title}}">{{.NextInSection.Title}}&nbsp;<i class="iconfont icon-right"></i></a>
        {{ end }}
    </div>
<br>
<style>
.before-comment { height: 3rem; }
@media(min-width: 500px) { .before-comment { height: 2rem; }
@media(min-width: 800px) { .before-comment { height: 1rem; }
</style>       
<div class="before-comment"></div>  

          {{ if ( .Params.ShowAds | default true ) }}
			<!-- Google Ads -->
			{{ partial "ads.html" . }}
          {{ end }}

      <p></p>
<div class="post-comment">
		{{ if ( .Params.showComments | default true ) }}
                 {{ if ne .Site.DisqusShortname "" }}
                     {{ template "_internal/disqus.html" . }}
                 {{ end }}
            <!-- Comments -->
			{{ partial "comments.html" . }}
		{{ end }}

</div>
      
 
</article>
{{- end }}
