// ==============================
// Custom style
// 自定义样式
// ==============================

.content p:has(> img:nth-child(2)) {
  column-count: 2;
  column-gap: 8px;
  margin: 6px 0;
}
.content p:has(> img:nth-child(3)) {
  column-count: 3;
}
.content p:has(> img:nth-child(4)) {
  column-count: 4;
}
.content p:has(> img:nth-child(5)) {
  column-count: 5;
}
.content p:has(> img:nth-child(6)) {
  column-count: 4;
}
.content p:has(> img:nth-child(2)) img {
  display: inherit;
}
.content p:has(> img:nth-child(6)) img {
  margin-bottom: 8px;
}

img:hover {
  -webkit-transform: scale(1.35, 1.35);
  -moz-transform: scale(1.35, 1.35);
  -transform: scale(1.35, 1.35);
  z-index: 9999;
  /*position:absolute;*/
}

// 信息卡片

.media {
  width: 45.5%;
  height: 150px;
  float: left;
  margin: 10px 2% 10px;
  box-sizing: border-box;
  overflow:hidden;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 680px) {
  .media {
      width: 97%;
  }
}

.media-meta {
  width: calc(100% - 100px);
  height: 100%;
  float: left;
  position:relative
}

.media-meta-item {
  width: 100%;
  box-sizing: border-box;
  padding-left: 10px;
  font-size: .8em;
  line-height:1.6em;
}
.media-meta-item.title {
  font-weight: 700;
  font-size:.85em
}

.media-cover {
  width: 80px;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float:left;
  border-radius: 10px;
}

.media-meta-item.intro {
  text-align: justify;
  display: -webkit-box;
  overflow: hidden;
  white-space: normal !important;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  line-height: .9rem;
  border-top: .1px solid #dddddd;
  padding-top: .2rem;
  -webkit-line-clamp: 6;
  -webkit-box-orient:vertical
}
.media-meta-item .author {
  opacity:.65
}

.media-meta-item .star-score {
  color: #b96c68;
  height: 0;
  display: inline;
  float: right;
  position:relative
}

.media-meta-item .grey-star {
  color:#d3d3d3
}