<div align="center">
<style>
.adsbygoogle-comment { width: 99%; height: 60px; padding: 1rem 0px }
@media(min-width: 500px) { .adsbygoogle-comment { width: 99%; height: 70px; padding: 1rem 0px} }
@media(min-width: 800px) { .adsbygoogle-comment { width: 99%; height: 90px; padding: 1rem 0px} }
</style> 
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<!-- Wyane's Blog 长方形 -->

<ins class="adsbygoogle adsbygoogle-comment"
     style="display:inline-block"
     data-ad-client="ca-pub-4547757701057415"
     data-ad-slot="9118682280"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>